<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue JS - Methods Learning</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <h3>{{ name }}</h3>
            <h3>{{ age }}</h3>
        </div>

        <div id="app2">
            <ul v-for="user of users">
                <li v-bind:title="user.f_name">{{ user.f_name }}</li>
            </ul>
        </div>

        <div id="app3">
            <h2>{{ d_name }}</h2>
            <input type="text" v-model="d_name" >
        </div>

        <div id="app4">
            <h4 v-if="view_hide">hi all</h4>
        </div>

        <div id="app5">
            <h4 v-if="view_show">hi all</h4>
        </div>

        <div id="app6">
            <h2>{{ y_age() }}</h2>
            <h2>{{ y_this() }}</h2>
        </div>

        <div id="app8">
            <h2>{{ w_note() }}</h2>
            <h2>{{ n_note() }}</h2>
            <h2>{{ next_number(100) }}</h2>
        </div>
        <div id="app9">
            <h3>Company Name : {{ company }}</h3>
            <h3>Possition Nmae : {{ possiton_value }}</h3>
            <p>Subject : {{ possiton_key() }}</p>
            <p>Full Subject : {{ company_name() }}</p>
            <p>Copany Stablish : {{ company_age(20) }}</p>
        </div>
        <script src="app.js"></script>
    </body>
</html>